<div ng-controller="DeviceErrorCtrl">		
<table  class="table ">
  <caption><h2 class="">Error Messages from all device</h2></caption>
  <thead>
    <tr>
      <th>Device ID </th>
      <th>Error</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>

    <tr ng-repeat="error in deviceErrors">
      <td>{{error.deviceId}}</td>
      <td>{{error.error}}</td>
      <td>{{error.date}}</td>
    </tr>
  <!--
    <tr>
      <td>1234</td>
      <td>Air Filter Error  </td>
      <td>31/3/2015</td>
    </tr>
    <tr>
      <td>12345</td>
      <td>Coil Error </td>
      <td>31/3/2015</td>
    </tr>
    -->
  </tbody>
</table>
</div>






