<div ng-include="'components/navbar/navbar.html'"></div>



<div class="container">
  <div class="row">
    <div class="col-lg-12">

      <div class="col-lg-7">
      	<div class="table-bordered  bottom-gap">
      			<div ng-show="!liveViewMode" ng-init="getUserDevice()">




				<table  class="table borderless">
					<caption><h2 class="">My device</h2></caption>

					<thead>
					    <tr>
					      <th>Heater ID</th>
					      <th>Heater Location</th>
					      <th>&nbsp;</th>
					    </tr>
					</thead>

					  <tbody ng-repeat="device in myDevices" class="">
					  
						  <tr >
										<td>{{device.deviceId}}</td>
										<td>{{device.location}}</td>
										<td><button class="btn btn-primary btn btn-success" type="button" ng-click="ViewDevice(device.deviceId)">View</button></td>
						 </tr>


						 <tr >	
						 		
								<td colspan="3" class="borderless-td ">
									<div class="col-lg-offset-1  col-lg-10">
										<table  class="table " style="border:1px solid #ddd">
											<tbody>
													 <tr>
													 		<td colspan="2"><input  type="radio" name="args" ng-model="onOff.status"  value="on">On</td>
															<td colspan="2"><input  type="radio" name="args" ng-model="onOff.status" value="off" checked="checked"  >Off</td>
															<td colspan="1">
																<button   class="btn btn-primary btn btn-success" type="button" ng-click="heaterOnOff(device.deviceId)">
																Turn {{onOff.status}} Heater
																</button>
															</td>
													 </tr>
													  <tr>
															<td colspan="4" >			 
																<input class="bar" type="range" min="100" 	max="190" 	ng-model="temperature" size="20" />
															</td>
															<td> 
															<button    class="btn btn-primary btn btn-success" type="button" ng-click="setHeaterTemp(device.deviceId,temperature)">Set Temperature To {{temperature}} ºF</button> 
															</td>
													 </tr>
									  		</tbody>
						  				</table> 	
									</div>
								</td>
						  </tr>


						 <tr >	
						 		
								<td colspan="3" class="borderless-td ">

									<div class="col-lg-offset-1  col-lg-10">

										<table  class="table " style="border:1px solid #ddd">
									  		<thead>
											    <tr>
											      <th colspan="2">Last Updated: {{device.heaterData.updateTime}}</th>
											    </tr>
											    <tr>
											      <th class="td-right-border col-md-6">Parameter</th>
											      <th class="col-md-6">Value</th>
											    </tr>
											</thead>

											<tbody>
										  		 <tr>
													<td class="td-right-border col-md-6">Packet Length</td>
													<td class="col-md-6">{{device.heaterData.packetLength}}</td>
										  		 </tr>

										  		 <tr>
													<td class="td-right-border col-md-6">Serial Number</td>
													<td class="col-md-6">{{device.heaterData.serialNumber}}</td>
										  		 </tr>

										  		 <tr>
													<td class="td-right-border col-md-6">Inlet Temp</td>
													<td class="col-md-6">{{device.heaterData.inletTemp}}</td>
										  		 </tr>

										  		 <tr>
													<td class="td-right-border col-md-6">Outlet Temp</td>
													<td class="col-md-6">{{device.heaterData.outletTemp}}</td>
										  		 </tr>

										  		 <tr>
													<td class="td-right-border col-md-6">DH Temp</td>
													<td class="col-md-6">{{device.heaterData.dhTemp}}</td>
										  		 </tr>
									  		</tbody>
						  				</table> 
											
									</div>

								</td>

						  </tr>

					   </tbody>



					</table> 

				</div>	




				<div ng-show="liveViewMode " >
					<p class="text-center">{{pleaseWait}}</p>

					<div class="col-lg-12">
							
						<dl class="dl-horizontal">
						<dt>Core ID</dt>
						<dd>{{myDevicesLiveDetails.id}}</dd>

						<dt>Device Name</dt>
						<dd>{{myDevicesLiveDetails.name}}</dd>

						<dt>Connect Status</dt>
						<dd>{{myDevicesLiveDetails.connected}}</dd>

						<dt>variables</dt>
						<dd>{{myDevicesLiveDetails.variables}}</dd>

						<dt>Functions</dt>
						<dd ng-if="myDevicesLiveDetails.functions != null" ng-repeat="function in myDevicesLiveDetails.functions">{{function}}</dd>

					 	 <dd ng-if="myDevicesLiveDetails.functions == null" >{{myDevicesLiveDetails.nofunctionMsg}}</dd>
					</dl>



					</div>

					<div class=" text-center bottom-gap"> 
						<button class="btn btn-primary btn btn-success" type="button" ng-click="back()">back</button>
					</div>

					
				</div>



      	</div>

      </div>

      <div class="col-lg-5 " >
      		<div class="col-lg-12 bottom-gap">
      			<div class="table-bordered bottom-gap" ng-include="'components/show-data/all-device-alert.html'"></div>
      		</div>
      		<div class="col-lg-12 bottom-gap">
      			<div class="table-bordered bottom-gap" ng-include="'components/show-data/all-device-error-message.html'"></div>
      		</div>
      </div>

    </div>
  </div>






</div>





<div ng-include="'components/footer/footer.html'"></div>